*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
.nav{
  font-size : 20px;
  background-color : #eeb14f;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  opacity: 0.5;
}


.nav-item{
  margin:10px;
  text-align: center;
  color: white;
  margin-right: 20px;
}

a:hover{
  color : black;
  transform: scale(1.1);
  text-decoration: none;
}

.about{
  display: flex;
  flex-direction: column;
  margin-top:30px;
  width: 70vw;
  position: relative;
  left: 15%;
  box-shadow: -1px 3px 12px 4px rgba(0,0,0,0.75);

}
.about-window-top{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: #D8BFD8;
  padding: 0.3%;
  height: 28px;
  border-radius: 5px;
  border: 0.5px solid black;
}
.about-top-button{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 9px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.yellow{
  background-color: #fdbc3d;
  border: 0.5px solid #ffb524;
}
.green{
  background-color: #5efc82;
  border: 0.5px solid #5efc82;
}
.red{
  background-color: red;
  border: 0.5px solid red;
}

.about-window-bottom{
  height: 70vh;
  background-color: #ffffcf;
  color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;

}

.about-window-bottom-p{
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
}
.bottom-big{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.big-text{
  font-size: 40px;
  margin-right: 40px;
  margin-top: 40px;
  font-family: 'Odibee Sans';
}

.para{
  margin: 15px;
  font-weight:light;
  font-size: 17px;
  color: black;
  font-family: 'Russo One', sans-serif;
}
/* h3{
  margin-top:10px;
} */

.profile-img{
  width: 150px;
  height: 150px;
  border: 20px;
  border-radius: 200px;
  margin-bottom: 30px;
  top:90%;
  margin-left: 40px;
  margin-top: 20px;
}

/* Projects CSS */

.Projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-evenly;
  height: 95vh;
  margin-top: 10px;
}


.active-link{
  font-weight: bold;
  font-size: 20px;
}

